<ion-header>
  <ion-toolbar>
    <ion-title>
      Galeria Veterinaria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let Animal of Animales">
        <ion-card button (click) = "onTouchFunction(Animal, evento)"  color = "{{Animal.Card_Color}}">
          <ion-img src="{{Animal.Imagen}}">
          </ion-img>
          
          <ion-card-header>
              <ion-card-title>
               {{Animal.Nombre}}
              </ion-card-title>
          </ion-card-header>

          <ion-card-content>
          <p>Raza: {{Animal.Raza}}</p>
          <p>Especie: {{Animal.Especie}}</p>
          <p>Alimentacion: {{Animal.Alimentacion}}</p>
          <p>Ecosistema: {{Animal.Ecosistema}}</p>
          <p>Peso: {{Animal.Peso}}</p>
          <p>Genero: {{Animal.Genero}}</p>
         </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
